<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BankLogin">
	<test name="transaction">
		<classes>
			<class name="day1.Includeexcludeconcept">
				<methods>
					<exclude name="enterpassword" />
				</methods>
			</class>
		</classes>
	</test>
</suite>